
            body {background-color:#f7f2e7;}
			a {color:#6B72E1; font-weight: bold}
			a:hover {color: black}
			.card {padding:40px 40px;box-shadow:0 0 10px #666666;background-color:#ffffff;margin:60px 30px;text-align:center;}
			h1 {font-family: 'roboto'; font-size: 30px; color: black; font-weight: bold;}
            li {list-style-type: none;}
            img {border-radius:0%;border:1px solid #000; font-size: 7px; height: 400px; width: 400px}



